{% extends 'base.html' %}

{% block content %}
{{video.title}}<br>
<a href="{{ url_for('profile', user_id=video.author_id) }}">{{author.username}}</a><br>
<video width="320" height="240" controls>
    <source src="../static/videos/{{video.id|string + '.mp4'}}" type="video/mp4">
</video><br>
<pre><h3>likes: {{like_count}}    <a href="{{url_for('like', video_id=video.id)}}">like</a></h3><br></pre>
<h3>views: {{views_count}}</h3>
<h2>description:</h2>
{{video.description}}<br>
<form method="post">
    {{comment_form.csrf_token}}
    {{comment_form.comment_text}}<br>
    {{comment_form.submit}}<br>
</form>
<br>
<br>
<h2>Comments</h2>
{% if comments %}
    {% for comment in comments %}
        {{comment.author_name}}<br>
    <pre>   {{comment.comment}}</pre> <br>
        <a href="{{ url_for('respond', video_id=video.id, comment_id=comment.id) }}">reply to {{comment.author_name}}</a>
        {% for response in responses %}
            {% if response.comment_id == comment.id %}
                <pre>       {{response.responder_name}}</pre>
                <pre>           {{response.response}}</pre>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}
{% endblock content%}